<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #usuarioForm="ngForm" (ngSubmit)="createUsuario(usuarioForm)">
                    <input type="hidden" name="idu" 
                    [(ngModel)]="usuarioService.usuario.idu"
                    >
                    <div class="form-group">
                        <input 
                        type="text"
                        class="form-control"
                        placeholder="Usuario"
                        name="usuarioa"
                        [(ngModel)]="usuarioService.usuario.usuarioa"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text"
                        class="form-control"
                        placeholder="Num. Control"
                        name="numcontrol"
                        [(ngModel)]="usuarioService.usuario.numcontrol"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="email"
                        class="form-control"
                        placeholder="Contraseña"
                        name="contrasena"
                        [(ngModel)]="usuarioService.usuario.contrasena"
                        >
                    </div>
                    <button class="btn btn-secondary m-2" (click)="formReset(usuarioForm)">Limpiar</button>
                    <button class="btn btn-primary m-2">Guardar</button>
            

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Num. Control</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of usuarioService.usuarios">
                    <td>{{item.idu}}</td>
                    <td>{{item.usuarioa}}</td>
                    <td>{{item.numcontrol}}</td>
                    <td>{{item.contrasena}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editUsuario(item)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteUsuario(item.idu)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

